html {
	font-family: Microsoft JhengHei;
	width:92.82%;
	margin:0% 3.59%;
}

a{
	color:black;
	text-decoration: none;
}

table{
	border-collapse: collapse;
}

.float {
	float:left;
}

clear:after {
	content:"";
	display:block;
	clear:both;
}

.width_100 {
	width:100%;
}

.width_65 {
	width:65%;
}

.width_50
{
	width:50%;
}
.margin_top_2 {
	margin-top:2%;
}

.margin_RL_75 {
    margin-left:7.5%;
	margin-right:7.5%;
}

.navy_blue {
	background-color:#c2dfe3;
}

.blue {
	background-color:#e0fbfc;
}

header ul {
	list-style:none;
	padding:0px;
	margin:0px;
}

.logo {	
	width:14.28%;
}

.information {
	width:14.28%;
	text-align:center;
	font-size:16px;
}

.information a {
	padding:15.18% 0%;
	display:block;
	background-color:#5c6b73;
	color:white;
}

.information a:hover {
	background-color:#253237;
}

.list {
	width:13.16%;
	position:absolute;
	visibility:hidden;
}

body div.profile
{
    margin: 2% 0% 0% 2%;
}
body div.profile div.two{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

body div.profile div.two div.one{
    width:43%;
    height:400px;
	background-color:#c2dfe3;
}

body div.profile div.two div.onea{
    
    width: 43%;
    height:400px;
    background-color:#e0fbfc;
}
body div.profile div.two div.one img{
    display: inline-block;
    vertical-align:bottom;
    margin: 40px 20px 10px 120px;
    border: 3px solid #ffffff;
}
body div.profile div.two div.onea img{
    display: inline-block;
    vertical-align:bottom;
    margin: 40px 20px 10px 120px;
    border: 3px solid #ffffff;
}
body div.profile div.two div.one h1{
    display: inline-block;
    margin: 10px 5px 10px 5px;
} 
body div.profile div.two div.onea h1{
    display: inline-block;
    margin: 10px 5px 10px 5px;
} 
body div.profile div.two div.one h1.name{
    display: inline-block;
    margin: 10px 5px 10px 20px;
} 
body div.profile div.two div.onea h1.name{
    display: inline-block;
    margin: 10px 5px 10px 20px;
} 
body div.profile div.two div.onea p{
    padding: 0 100px 0 80px;
}
body div.profile div.two div.one p{
    padding: 0 100px 0 80px;
}
body div.profile div img{
    max-width: 90px;
    max-height: 140px;
}
body div.profile h1{
    font-size: 18px;
}
.margin_top_2 {
	margin-top:2%;
}
footer div{
	width:48%;
	height:125px;
	font-size:12px;
	background-color:#253237;
	color:#ffffff;
	padding:2% 0% 0% 2%;
}
