html {
	font-family: Microsoft JhengHei;
	width:92.82%;
	margin:0% 3.59%;
}

a {
	color:black;
	text-decoration: none;
}

table{
	border-collapse: collapse;
}

.float {
	float:left;
}

clear:after {
	content:"";
	display:block;
	clear:both;
}

.width_100 {
	width:100%;
}

.width_50
{
	width:50%;
}

.margin_top_31 {
	margin-top:31px;
}

.margin_top_62 {
	margin-top:62px;
}

.margin_RL_75 {
	padding:0% 7.5%;
}

.navy_blue {
	background-color:#c2dfe3;
}

.blue {
	background-color:#e0fbfc;
}

header ul {
	list-style:none;
	padding:0px;
	margin:0px;
}

.logo {	
	width:14.28%;
}

.information {
	width:14.28%;
	text-align:center;
	font-size:16px;
}

.information a {
	padding:15.18% 0%;
	display:block;
	background-color:#5c6b73;
	color:white;
}

.information a:hover {
	background-color:#253237;
}

.list {
	border-top:1px solid black;
	width:13.16%;
	position:absolute;
	visibility:hidden;
}

.content {
	width:85%;
	font-size:20px;
	text-align:center;
	border-top:1px solid black;
	padding-top:62px;
	margin:0% 7.5%;
}

.content a:hover {
	color:#aaaaaa;
}

.title {
	text-align:center;
	background-color:#c2dfe3;
	border-radius:3px;
	width:220px;
	margin:31px 0px 31px 7.5%;
}

footer div{
	width:48%;
	height:125px;
	font-size:12px;
	background-color:#253237;
	color:#ffffff;
	padding:2% 0% 0% 2%;
}